<!--views/reservations/new.html.erb-->


<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Créer une nouvelle réservation</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
  <style>
    /* Votre CSS existant */
  </style>
</head>
<body>
  <div class="container">
    <h1>Créer une réservation</h1>

    <!-- Affichage des erreurs si présentes -->
    <% if @reservation.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@reservation.errors.count, "erreur") %> a empêché cette réservation d'être enregistrée :</h2>
        <ul>
          <% @reservation.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_with(model: @reservation, local: true) do |form| %>
      <div class="field">
        <%= form.label :lieu %>
        <%= form.select :lieu, [['Hôtel', 'hotel'], ['Château', 'chateau'], ['Entreprise', 'entreprise'], ['Mas', 'mas'], ['Immeuble', 'immeuble']], {}, {class: "form-control"} %>
      </div>

      <div class="field">
        <%= form.label :salle_id, 'Nom de la Salle' %>
        <%= form.select :salle_id, options_for_select(Salle.all.map{ |s| [s.name, s.id] }), {}, {class: "form-control"} %>
      </div>

      <div class="field">
        <%= form.label :start_time, 'Date et Heure de Début' %>
        <%= form.datetime_field :start_time, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :end_time, 'Date et Heure de Fin' %>
        <%= form.datetime_field :end_time, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :reserver_name, 'Nom du Réservataire' %>
        <%= form.text_field :reserver_name, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :reserver_phone, 'Téléphone du Réservataire' %>
        <%= form.text_field :reserver_phone, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :reserver_email, 'Email du Réservataire' %>
        <%= form.email_field :reserver_email, class: "form-control", required: true %>
      </div>

      <div class="actions">
        <%= form.submit "Créer la réservation", class: "btn btn-primary", data: { confirm: 'Confirmez-vous la création de cette réservation ?' } %>
        <%= link_to 'Annuler', reservations_path, class: "btn btn-secondary" %>
        <%= link_to 'Retour', root_path, class: "btn btn-secondary" %>

      </div>
    <% end %>

    <div class="footer">
      &copy; <%= Time.now.year %> <%= image_tag 'logo.png', alt: 'Mon Logo', style: 'width: 50px; height: auto;' %> Tous droits réservés.
    </div>
  </div>
</body>
</html>
