<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App de Réservation de Salles</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
  <style>
    /* Vos styles CSS existants */
  </style>
</head>
<body>
  <div class="container">
    <% if flash[:notice].present? %>
      <div class="alert alert-success">
        <p class="error-text">&nbsp; <%= flash[:notice] %></p>
      </div>
    <% end %>

    <%= image_tag 'logo.png', alt: 'Mon Logo', style: 'width: 70px; height: auto;' %>
    <div class="text-center">
      <p>Heure actuelle : <%= Time.now.strftime("%H:%M:%S") %></p>
    </div>

    <div class="card">
      <h2>Réservez et gérez vos salles avec <br>APP REVERSAL</h2>
      <div>
        <a href="/reservations/new" class="btn btn-primary">Réserver une salle</a>
        <a href="/reservations" class="btn btn-secondary" style="background-color: #6050DC; border-color: #ffc107;">Voir les réservations</a>
        <a href="/salles/new" class="btn btn-success">Créer et nommer vos salles</a>
      </div>
    </div>

    <h1>Noms de vos salles</h1>
    <ul>
      <% @salles.each do |salle| %>
        
          <div class="salle-name"><%= salle.name %></div>
          <div class="salle-actions">
            <%= form_with(model: salle, method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette salle?' }) do |form| %>
              <%= form.submit 'Supprimer', class: "btn btn-danger btn-sm" %>
              <%= link_to 'Modifier', edit_salle_path(salle), class: "btn btn-info btn-sm" %>
            <% end %>
          </div>
        
      <% end %>
    </ul>

    <h1>Dernières réservations</h1>
    <ul>
      <% @reservations.each do |reservation| %>
        <li>
          <div class="reservation-details">
            <p>Nom de la personne : <%= reservation.reserver_name %></p>
            <p>Réservation pour la salle: <%= reservation.salle.name %></p>
            <p>Date et heure: <%= reservation.start_time.strftime("%d/%m/%Y à %H:%M") %> à <%= reservation.end_time.strftime("%d/%m/%Y à %H:%M") %></p>
          </div>
          <div class="reservation-actions">
            <%= form_with(model: reservation, method: :delete, local: true, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette réservation ?' }) do |form| %>
              <%= form.submit 'Supprimer', class: "btn btn-danger btn-sm" %>
              <%= link_to 'Modifier', edit_reservation_path(reservation), class: "btn btn-info btn-sm" %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</body>
</html>
