<!-- views/layouts/application.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>AppReservationssalles</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "styles", "data-turbo-track": "reload" %>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
</head>
<body>
  <div class="header">
    <% if current_user %>
      <div class="header-buttons">
        <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
        <%= button_to "Supprimer mon compte", destroy_user_path(current_user), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible." }, class: "btn btn-danger" %>
      </div>
    <% end %>
    <div class="logo-container">
      <!-- Votre logo ici -->
    </div>
  </div>

  <div class="body-content">
    <%= yield %>
  </div>
</body>
</html>

